logs/*
!.gitkeep
tmp
.project
.settings/
.classpath
target/
/build/
.DS_Store
.idea
.idea/workspace.xml
*~
node/
node_modules/
.bower/
bower_components/
dist
.tmp
.sass-cache
*.log
/docs/
src/main/gwt-unitCache/
src/main/webapp/KitchenSink/
